*{
    margin:0;
    padding:0;
     text-align: center;
}
html,body{
        height:100%;
        width:100%; 
            background-color:#059def77;

        
}
.navbar{
    display:flex;
}

h1{ 
    background-color:#081b31;
    background:linear-gradient(150deg,rgb(237, 110, 131), green);

    height:5rem;
    line-height:5rem;
    width:92vw;
    


   
}
.mode{
    background-color:green;
    width:8vw;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:2rem;

}
.mode:hover i{
    cursor:pointer;
     transform:scale(1.2);
     transition: transform 0.5s ease;
   
}
#name{
  height:4rem;
    line-height:4rem;  
    /* background-color:green; */
    font-size:3rem;
    color:rgb(245, 34, 203);
    text-decoration:underline;
    text-transform:capitalize;
    font-style:italic;
    
}




.choices{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:3rem;
    margin-top:3rem;

}
.choice{
    width: 165px;
    height:165px;
     border-radius:50%;
     display:flex;

    justify-content:center;
    align-items:center;
   
}
.choice:hover{
    cursor:pointer;
    background-color:black;

}
img{
   
     width:150px;
    height:150px;
    object-fit:cover;
      border-radius:50%;
}

.score-board{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    margin-top:3rem;
    gap:5rem;


}
#comp-score,#user-score{
    font-size:4rem;


}
.msg-container{
    margin-top:3rem;

}
#msg{
    
    background-color:#081b31;
    color:#fff;
    font-size:2rem;
    display:inline; /*convert into inline*/
    padding: 1rem;
    border-radius:1rem;
    
}
.dark{
    background-color:black;
    color:white;
}
.light{
    background-color:#059defe6;
    color:black;
}
